html,
body {
	font-family: 'IM Fell Great Primer', serif;
	font-size:24px;
	background-color: tan;
	text-align: center;
	font-color: black;
}
#lyrics-title {
	font-size: 48px;
}
#lyrics-subtitle {
	font-size: 36px;
}
h1 {
	color: white;
}
h2 {
	color: white;
}
strong {
	color: red;
}
.Verse .I {
	font-weight: bold
}
.Chorus .I{
	text-transform: uppercase;
}
.Verse .II {
	font-weight: bold;
}
.Chorus .II {
	text-transform: uppercase;
}
.Chorus .III {
	text-transform: uppercase;
}
.Last .Verse {
	font-weight: bold;
}
.last .line {
	text-decoration: line-through;
}
