	html {
				color: orangered;
				font-family: sans-serif;
				background-color: aquamarine;
			}
			em {
				color:#808080;
			}
			h1 {
				color: salmon;
			}
			#tone {
				color: #333333;
			}
			strong {
				color:black;
			}
		.navlink {

			}
		#movie-title {
			font-size: 36px;
		}
		#movie-subtitle {
			font-size: 24px;
		}
		.script {
			font-family: monospace;
		}
		